/* Achica la distancia entre cada fila era mucho */
.form-row {
    padding-bottom: 0!important;
    padding-top: 0!important;
}

/* Pone los valores en fila  */
.flex-container {
    flex-flow: row!important;
}

/* Label encima el contenido (texto) */
.form-row.field-propietario_nombre_apellido .flex-container,
.form-row.field-sitio_fecha_chile .flex-container,
.form-row.field-electrico_no_poste .flex-container,
.flex-container.fieldBox,
.field-imagen_gmaps div,
.field-energia_localidad_mensaje div,
.field-img_google div,
.field-electrico_imagen2_thumbnail div
 {
    display: flex!important;
    flex-direction: column!important;  /* Alinea los hijos verticalmente */
    align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
    width: 100%;             /* Opcional, ajusta según necesites */
    padding: 8px;            /* Espacio para un mejor diseño, ajustable */
    box-sizing: border-box;  /* Asegura que el padding no afecte el ancho */
}

/* mueve un poco el contenido y agranda el font */
.form-row.field-propietario_nombre_apellido .flex-container .readonly,
.form-row.field-sitio_fecha_chile .readonly,
.form-row.field-electrico_no_poste .readonly,
.flex-container.fieldBox .readonly {
    margin-left: 5px;
    font-size: larger;
}


/* Negrilla el label */
h1,
.flex-container.fieldBox label {
    font-weight: 700;
}

/* Negrilla de la imagen google */
.flex-container label {
    font-weight: 700;
}


/* Centrea la descripcion de la imagen */
.inline-description {
    text-align: center;
}

/* Borra el texto de Imagen y Descripcion */
.imagenes-grid .field-pic_with_description label {
    display: none;
}

/* Marco de las imagenes */
.imagenes-grid .inline-related {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid white;
    border-radius: 4px;
    overflow: hidden;
    border-bottom: 0px;
    margin: 10px!important;
}

.logo {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.field-imagen_gmaps label,
.field-img_google_distancia_nominal label
 {
    width: 360px!important;
}

.field-img_google_electrico label {
    width: 300px!important;
}


.field-distancia_coordenadas label {
    width: 260px!important;
}

.field-propietario_ci label,
.field-sitio_lat_nominal_gms label,
.field-sitio_lon_nominal_gms label {
    width: 200px!important;
}

@media only screen {

    #app-main > .pusher > .full.height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        min-height: 100vh;
      }
    
    
    /* Container Layout */
    #app-main .container {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      min-width: 0px;
    }
    





}

@media print {
/* 
    body{
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        background-color: white;
      } */
      
    /* Encabezado */
    .breadcrumbs,
    #content >h2,
    h3,
    .submit-row,
    .object-tools,
    #user-tools {
        display: none!important;
    }

    #header {
        background-color: white!important;

    }

    :root .admin-interface {
    --admin-interface-module-background-color: gray;
    }



    .add-row {
    display: none!important;
}




}
