
/* .field-sitio_lat_nominal,
.field-sitio_lon_nominal,
.field-sitio_empresa {
    width: 350px!important;
} */
    /* Pone el label encima del input */
.flex-container.fieldBox {
    display: flex;
    flex-direction: column;  /* Alinea los hijos verticalmente */
    align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
    width: 100%;             /* Opcional, ajusta según necesites */
    padding: 8px;            /* Espacio para un mejor diseño, ajustable */
    box-sizing: border-box;  /* Asegura que el padding no afecte el ancho */
}

.flex-container.fieldBox .readonly {
    margin-left: 5px;
    font-size: larger;
}

.flex-container.fieldBox label {
    font-weight: 700;
}


@media only screen {

    #app-main > .pusher > .full.height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        min-height: 100vh;
      }
    
    
    /* Container Layout */
    #app-main .container {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      min-width: 0px;
    }
    
    /* Fix full-height bottom off by 2px */
    #app-main .full.height > .computer-menu > .ui.inverted.menu {
      border-top: 1px solid transparent !important;
      border-bottom: 1px solid transparent !important;
      border-radius: 0 !important;
    }
/* Les pone a las imagenes marco */
    img {
        margin-right: 2%; /* Añade un pequeño margen entre columnas */
        padding: 10px; /* Añade un padding alrededor de la imagen */
        border-radius: 15px; /* Redondea las esquinas del borde de la imagen */
        border: 1px solid #ccc; /* Añade un borde sólido de color gris claro */
        display: block; /* Asegura que la imagen se muestre como un bloque */
        margin: 10px;
    }

    /* Centrea la descripcion de la imagen */
    .inline-description {
        text-align: center;
    }

    /* Borra la opcion de borrar */
    /* y ademas el encabezado */
    /* h3.ui.header, */
    .ui.checkbox.delete {
        display: none;
    }

    h3 {
        display: none;
    } 

    /* Marco de las imagenes */
    fieldset {
        border-radius: 5px; /* Redondea los bordes */
        border: 1px solid #ccc; /* Añade un borde sutil */
        margin-bottom: 20px;
    }

    .model- td {
        /* background-color: #ffd1c4; */
        color: black;
    }


    /* Titulos de la tabla */
    div.app-main.module > table > thead > tr > th,
    div.app-registros.module > table > thead > tr > th,
    div.app-auth.module > table > thead > tr > th {
        background-color: #ea3323;
    }
    div.app-main.module > table > thead > tr > th > a,
    div.app-registros.module > table > thead > tr > th > a,
    div.app-auth.module > table > thead > tr > th > a{
        color: white;
        text-transform: uppercase;
    }

    .green.button {
        background-color: #58A4B0!important;
        color: white!important;
    }

    .primary.button {
        background-color: #ffd1c4!important;
        color: black!important;
        box-shadow: none!important;
    }

    #registroinicio_form select,
    #registroinicio_form input {
        width: 250px!important;
    }

    #registroinicio_form .module  textarea {
        height: 120px; 
    }

    #id_croquis-0-descripcion {
        height: 300px!important; 
    }

    #documentos_set-group .ui.primary.basic.fluid.button,
    #imagenes_set-group .ui.primary.basic.fluid.button {
        display: none;
    }






    fieldset {
        background-color: black!important;
    }

}

@media print {

    body{
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        color: white !important; /* Asegura texto negro para mejorar la legibilidad */
        background-color: white;
      }
    
    .flex-container {
        display: flex!important;
        flex-direction: row!important;
        flex-wrap: wrap!important;
    }

    fieldset {
        background-color: white!important;
    }


}

/* html[data-theme="dark"] {
    --primary: #ea3323;
    --secondary: #0D1B2A;
    --link-fg: #52B2CF; */
    /* --body-bg: #5C6D70; */
/* } */