{% extends 'admin/change_form.html' %}
{% load static %}

{% comment %} {% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/chance_form.css' %}" media="print">
{% endblock %} {% endcomment %}


{% comment %} {% block admin_change_form_document_ready %}
{{ block.super }}
{% if opts.app_label == 'registrosgab' and opts.model_name == 'informaciongeneral' %}
<script src="{% static 'js/propietario.js' %}"></script>
{% endif %}
{% endblock %} {% endcomment %}

