{% comment %} {% extends "admin/edit_inline/stacked.html" %} {% endcomment %}

<style>
    #{{ inline_admin_formset.formset.prefix }}-group .inline-related {
        width: 48%;  /* Ajusta el ancho de cada form a menos de la mitad para caber dos por línea */
        float: left; /* Hace que los elementos se alineen horizontalmente */
        margin-right: 2%; /* Añade un pequeño margen entre columnas */
    }
    #{{ inline_admin_formset.formset.prefix }}-group .inline-related:nth-of-type(2n+1) {
        clear: both; /* Asegura que cada fila comience correctamente */
    }
    @media (max-width: 768px) {
        #{{ inline_admin_formset.formset.prefix }}-group .inline-related {
            width: 100%; /* En pantallas pequeñas, cada elemento toma el ancho completo */
            float: none;
            margin-right: 0;
        }
    }
    /* Nuevo CSS para ocultar checkbox y etiqueta de eliminación */
    #{{ inline_admin_formset.formset.prefix }}-group .inline-related .delete {
        display: none; /* Oculta el checkbox y la etiqueta */
    }
    #{{ inline_admin_formset.formset.prefix }}-group label {
        display: none; /* Oculta las etiquetas, que generalmente incluyen la short_description */
    }

    #registrositioimagenes_set-group > fieldset > div.ui.basic.segment > div > div > div > button {
        display: none;
    }



</style>


{% load i18n admin_urls %}
<div class="js-inline-admin-formset inline-group"
     id="{{ inline_admin_formset.formset.prefix }}-group"
     data-inline-type="stacked"
     data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
<fieldset class="module {{ inline_admin_formset.classes }}">
  {% if inline_admin_formset.formset.max_num == 1 %}
    <h2>{{ inline_admin_formset.opts.verbose_name|capfirst }}</h2>
  {% else %}
    <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
  {% endif %}
{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}

{% for inline_admin_form in inline_admin_formset %}<div class="inline-related{% if inline_admin_form.original or inline_admin_form.show_url %} has_original{% endif %}{% if forloop.last and inline_admin_formset.has_add_permission %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if forloop.last and inline_admin_formset.has_add_permission %}empty{% else %}{{ forloop.counter0 }}{% endif %}">
  {% comment %} <h3><b>{{ inline_admin_formset.opts.verbose_name|capfirst }}:</b> <span class="inline_label">{% if inline_admin_form.original %}{{ inline_admin_form.original }}{% if inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %} <a href="{% url inline_admin_form.model_admin.opts|admin_urlname:'change' inline_admin_form.original.pk|admin_urlquote %}" class="{{ inline_admin_formset.has_change_permission|yesno:'inlinechangelink,inlineviewlink' }}">{% if inline_admin_formset.has_change_permission %}{% translate "Change" %}{% else %}{% translate "View" %}{% endif %}</a>{% endif %}
{% else %}#{{ forloop.counter }}{% endif %}</span> {% endcomment %}
      {% if inline_admin_form.show_url %}<a href="{{ inline_admin_form.absolute_url }}">{% translate "View on site" %}</a>{% endif %}
    {% if inline_admin_formset.formset.can_delete and inline_admin_formset.has_delete_permission and inline_admin_form.original %}<span class="delete">{{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }}</span>{% endif %}
  </h3>
  {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}
  {% for fieldset in inline_admin_form %}
    {% include "admin/includes/fieldset.html" %}
  {% endfor %}
  {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
  {% if inline_admin_form.fk_field %}{{ inline_admin_form.fk_field.field }}{% endif %}
</div>{% endfor %}
</fieldset>
</div>