

{% extends "base.html" %}
{% load static %}

{% block css %}
{% comment %} <link rel="stylesheet" href="{% static './leaflet/leaflet.css' %}" />
<link rel="stylesheet" href="{% static './leaflet/MarkerCluster.css' %}" />
<link rel="stylesheet" href="{% static './leaflet/MarkerCluster.Default.css' %}" /> {% endcomment %}
{% endblock css %}

{% block body_class %}bg-gray-200{% endblock %}

{% block header %} 
    {% comment %} {% include "header.html" %}   {% endcomment %}
{% endblock header %}
    
{% block content %} 
<div class="relative h-screen">
    <!-- Botón en la parte superior derecha -->
    <div class="absolute top-0 right-0 m-4">
        <a href="https://sar.btspti.com/admin" class="bg-[#ea3323] hover:bg-red-700 text-white font-bold py-2 px-4 rounded inline-block text-center no-underline">
            Sistema Búsqueda
        </a>
    </div>

    <!-- Contenido centrado, por ejemplo, tu imagen -->
    <div class="flex justify-center items-center h-full">
        <img src="{% static 'img/Logo3.png' %}" alt="Descripción de la imagen" class="max-w-full max-h-full">
    </div>
</div>


{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
	var auth = "{{request.user.is_authenticated}}";
	var static_url = "{% get_static_prefix %}";
	var csrft = "{{ csrf_token }}";
	var debug = "{{ debug }}";
	auth == 'True' ? auth = true : auth = false;
	debug == 'True' ? debug = true : debug = false;
	var sitios = {{ sitios|safe }};

  </script>


{% comment %} <script type="text/javascript" src="{% static './js/main.js' %}"></script> {% endcomment %}

{% endblock extra_js %}
